/*
* This program is free software; you can redistribute it and/or modify it under the
* terms of the GNU Lesser General Public License, version 2.1 as published by the Free Software
* Foundation.
*
* You should have received a copy of the GNU Lesser General Public License along with this
* program; if not, you can obtain a copy at http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html
* or from the Free Software Foundation, Inc.,
* 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
* without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details.
*
* Copyright 2005 - 2010 Pentaho Corporation.  All rights reserved.
*/

html, body {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

div {
  outline: 0px;
  hideFocus: true;
}

img {
  outline: 0px;
  -moz-user-focus: none;
  user-focus: none;
}
label {
font-size: .85em;
}
.pentaho-page-background {
  background: url('images/bg_blue_gray_perf.png') repeat-x top left;
}
/* Standard button style. Should be applied to a <button> element to get full pseudo-styles. */
.pentaho-button {
  /* fallback color */
  background: #000000;
  /* Safari/Chrome */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));
  /* Firefox */
  background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%) repeat scroll 0 0 transparent;

  /* IE 7-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#666666', endColorstr = '#000000');

  font-size: .75em;
  color: #ffffff;
  padding: 5px 14px;

  /* Standard form */
  border-radius: 5px;
  /* Firefox */
  -moz-border-radius: 5px;
  /* Safari/Chrome */
  -webkit-border-radius: 5px;

  border: 1px solid #333;

  /* Safari/Chrome */
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
  /* Firefox */
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
  /* Standard form */
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;

  white-space: nowrap;
  text-shadow: 0px 0px 2px rgba(000, 000, 000, 1);
  cursor: pointer;
}

/* Applies the green glow to buttons */
.pentaho-button:hover {
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(129, 219, 17, 1) inset;
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(129, 219, 17, 1) inset;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(129, 219, 17, 1) inset;
}

/* Just lightening it up a bit */
.pentaho-button:active {
  background: -moz-linear-gradient(#C8C8C8, #AAA 10%, #666 50%, #353535 55%, #3F3F3F 90%) repeat scroll 0 0 transparent;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C8C8C8), color-stop(0.10, #AAA), color-stop(0.50, #666), color-stop(0.55, #353535), color-stop(0.90, #3F3F3F));
}

/* lighter gray with white text */
.pentaho-button:disabled {
  color: white;

  background: -moz-linear-gradient(#AAA, #BBB 10%, #8d8d8d 50%, #727272 55%, #747474 90%) repeat scroll 0 0 transparent;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #BBB), color-stop(0.50, #8d8d8d), color-stop(0.55, #727272), color-stop(0.90, #747474));

  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.2) inset;
  text-shadow: 0px 0px 2px rgba(000, 000, 000, 4);
}

/* Note: By default there is no padding on the bottom as the button area supplies the necessary amount. If your dialog
has no buttons add an addition class to your element, pentaho-dialog-buttonless, to have full padding around the contents*/
.pentaho-dialog {
  border: 1px solid rgba(255, 255, 255, 0.59375);
  z-index: 1000;
  position: absolute;

  /* Firefox */
  -moz-border-radius: 7px;
  /* Safari/Chrome */
  -webkit-border-radius: 7px;
  /* Standard form */
  border-radius: 7px;

  /* Firefox */
  -moz-box-shadow: 1px 1px 6px 0px #000000;
  /* Safari/Chrome */
  -webkit-box-shadow: 1px 1px 6px 0px #000000;
  /* Standard form */
  box-shadow: 1px 1px 6px 0px #000000;

  background: rgba(255, 255, 255, 0.5);
  padding: 8px 8px 0px 8px;
  /* IE - simulated partialy transparent background with a gradient */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#77ffffff', endColorstr = '#77ffffff');
  /* IE fix to get filter to render */
  zoom: 1;

}
/* Secondary style applied to pentaho-dialog elements to add a continuous 8px padding. */
.pentaho-dialog-buttonless {
  padding: 8px 8px 3px 8px;
}

.pentaho-dialog .Caption {
  /* Safari/Chrome */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));
  /* Firefox */
  background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%);

  font-size: .9em;
  color: white;
  cursor: move;

  /* Safari/Chrome */
  -moz-box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 1px 1px inset;
  /* Firefox */
  -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 1px 1px inset;
  /* Standard form */
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 1px 1px inset;
  padding: 6px;

  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  /* bottom border supplied by .dialog-content */
  text-align: left;
  text-shadow: 0px 0px 2px black;
  /* IE 7-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FFAAAAAA', endColorstr = '#FF121212');

  /* IE fix to get filter to render */
  zoom: 1;
}

.pentaho-dialog .button-panel{
  padding:3px 0px 2px 0px; width: 100%; 
}

.dialog-content {
  border: 1px solid black;
  background: #d4d6db;
}

.dialog-content fieldset {
  padding: 0px;
  width: auto;
  border: 1px solid #888;
}

.dialog-content input[type='text'] {
  border: 1px solid #333;
  height: 20px;
}

.dialog-button-panel {
  padding: 2px 0px;
}

/* The following classes are handing tons of intermediate and extraneous elements generated by the GWT dialog implementation */
.pentaho-dialog .dialogTopCenterInner {
}

.pentaho-dialog .dialogMiddleCenter {
  height: 100%;
}

.pentaho-dialog .dialogMiddleCenterInner {
  height: 100%;
}

.pentaho-dialog .dialogMiddleLeft {
  display: none;
}

.pentaho-dialog .dialogMiddleRight {
  display: none;
}

.pentaho-dialog .dialogTopLeft {
  display: none;
}

.pentaho-dialog .dialogTopRight {
  display: none;
}

.pentaho-dialog .dialogBottomLeft {
  display: none;
}

.pentaho-dialog .dialogBottomRight {
  display: none;
}

/* Find a home for these */
.login-dialog {
  z-index: 2000;
}
.error-login-dialog {
  z-index: 2100;
}
/**/


.glasspane {
  position: absolute;
  background-color: black;
  /* IE8 css hack for opacity */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=65)";
  filter: alpha(opacity = 65);
  opacity: 0.65;

  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 300;
  margin: 0px;
  padding: 0px;
  display: none;
}

.pentaho-tabWidget {
    display: block;
    float: left;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgba(125, 125, 125, 0.2)),
        color-stop(0.50, rgba(140, 140, 140, 0.25)),
        color-stop(1, rgba(0, 0, 0, 0.2))
    );

    background: -moz-linear-gradient(rgba(125, 125, 125, 0.2) 0%, rgba(140, 140, 140, 0.25) 50%, rgba(0,0,0,0.2) 100%);
    color: black;
    padding: 4px 15px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top: solid 1px #555;
    border-left: solid 1px #555;
    border-right: solid 1px #555;
    border-bottom: none;
    -moz-box-shadow: rgba(255,255,255,.35) 0px 1px 1px 1px inset;
    -webkit-box-shadow: rgba(255,255,255,.35) 0px 1px 1px 1px inset;
     box-shadow: rgba(255,255,255,.35) 0px 1px 1px 1px inset;
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#66FFFFFF', endColorstr = '#33FFFFFF', GradientType=0);
    cursor: pointer;
    margin-left:5px;
}

.pentaho-tabWidget .pentaho-tabWidgetLabel {
  margin: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  text-shadow: rgba(255, 255, 255, 0.398438) 0px 1px 0px;
  white-space:nowrap;
 }
 


.pentaho-tabWidget-selected {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #333333),
      color-stop(0.10, #454545),
      color-stop(0.50, #3f3f3f),
      color-stop(0.55, #000),
      color-stop(0.90, #121212)
  );

  background: -moz-linear-gradient(#333333, #454545 10%, #3F3F3F 50%, #000000 55%, #121212 90%) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#5555555', endColorstr = '#121212', GradientType=0);

  color: #ffffff;
}


.pentaho-tabWidget-selected .pentaho-tabWidgetLabel {
  margin: 0px;
  padding-bottom: 0px;
  font-size: 12px;
  text-shadow: 0px 0px 1px rgba(000,000,000,.3);
  white-space:nowrap;
 }

.pentaho-tabPanel{
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-top: 3px solid rgba(0, 0, 0, 0.7);
  clear:both;
}

/* ======================= Behins Scrollbar Styles ========================= */
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#666666', endColorstr = '#666666', GradientType=1);

}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#666666', endColorstr = '#666666', GradientType=1);
}

/*.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}
*/
.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  position: relative;
}

.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack {
  /* Safari/Chrome */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(0.50, #777), color-stop(1, #333));
  /* Firefox */
  background: -moz-linear-gradient(top, #333, #777 50%, #333 100%);

  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
  /* Safari/Chrome */
  -webkit-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#777777', endColorstr = '#999999');
}

.jspVerticalBar .jspTrack {
  /* Safari/Chrome */
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #333), color-stop(0.50, #777), color-stop(1, #333));
  /* Firefox */
  background: -moz-linear-gradient(left, #333, #777 50%, #333 100%);

  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  /* Safari/Chrome */
  -webkit-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  /* Firefox */
  -moz-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  /* Standard Form */
  box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#7777777', endColorstr = '#9999999', GradientType=1);
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspArrow {
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}

.jspArrow.jspDisabled {
  cursor: default;
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspVerticalBar .jspArrowDown {

  /* Safari/Chrome */
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;

  /* Firefox */
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;

  border: 1px solid #b5b5b5;
  /* Safari/Chrome */
  -webkit-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  /* Firefox */
  -moz-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  /* Standard Form */
  box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;

  background: url("images/scroll_bottom_arrow.png") center center no-repeat;
  /* Safari/Chrome */
  background: url("images/scroll_bottom_arrow.png") center center no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0, #282828), color-stop(0.50, #353535), color-stop(1, #282828));
  /* Firefox */
  background: url("images/scroll_bottom_arrow.png") no-repeat scroll center center, -moz-linear-gradient(center top , #282828, #353535 50%, #282828 100%);
  
}

.jspVerticalBar .jspArrowUp {

  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;

  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;

  border: 1px solid #b5b5b5;
  /* Safari/Chrome */
  -webkit-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  /* Safari/Chrome */
  -moz-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  /* Standard Form */
  box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  
  background: url("images/scroll_top_arrow.png") center center no-repeat;
  /* Safari/Chrome */
  background: url("images/scroll_top_arrow.png") center center no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0, #282828), color-stop(0.50, #353535), color-stop(1, #282828));
  /* Firefox */
  background: url("images/scroll_top_arrow.png") center center no-repeat, -moz-linear-gradient(top, #282828, #353535 50%, #282828 100%);

}

.jspHorizontalBar .jspArrowLeft {

  /* Safari/Chrome */
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;

  /* Firefox */
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;

  border: 1px solid #b5b5b5;
  /* Safari/Chrome */
  -webkit-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  /* Firefox */
  -moz-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  /* Standard Form */
  box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  
  background: url("images/scroll_left_arrow.png") center center no-repeat;
  /* Safari/Chrome */
  background: url("images/scroll_left_arrow.png") center center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0, #282828), color-stop(0.50, #353535), color-stop(1, #282828));
  /* Firefox */
  background: url("images/scroll_left_arrow.png") center center no-repeat, -moz-linear-gradient(left, #282828, #353535 50%, #282828 100%);
}

.jspHorizontalBar .jspArrowRight {

  /* Safari/Chrome */
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;

  /* Firefox */
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;

  /* Firefox */
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  border: 1px solid #b5b5b5;

  /* Safari/Chrome */
  -webkit-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  /* Firefox */
  -moz-box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  /* Standard Form */
  box-shadow: black 0px 0px 1px, rgba(0, 0, 0, 0.699219) 0px 0px 1px inset;
  
  background: url("images/scroll_right_arrow.png") center center no-repeat;
  /* Safari/Chrome */
  background: url("images/scroll_right_arrow.png") center center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0, #282828), color-stop(0.50, #353535), color-stop(1, #282828));
  /* Firefox */
  background: url("images/scroll_right_arrow.png") center center no-repeat, -moz-linear-gradient(left, #282828, #353535 50%, #282828 100%);
}

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 16px;
}

.jspVerticalBar .jspArrow:focus {
  outline: none;
}

.jspVerticalBar .jspDrag {

  width: 8px;
  /* Safari/Chrome */
  -webkit-border-radius: 5px;
  /* Firefox */
  -moz-border-radius: 5px;
  /* Standard Form */
  border-radius: 5px;
  border: 1px solid black;

  /* Safari/Chrome */
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(255, 255, 255, 1) inset;
  /* Firefox */
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(255, 255, 255, 1) inset;
  /* Standard Form */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(255, 255, 255, 1) inset;

  /* Safari/Chrome */
  background: url("images/scroll_grabber.png") center center no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0, #111), color-stop(0.50, #222), color-stop(1, #111));
  /* Firefox */
  background: url("images/scroll_grabber.png") center center no-repeat, -moz-linear-gradient(left, #111, #222 50%, #111 100%);
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#777777', endColorstr = '#5555555', GradientType=1);
}

.jspHorizontalBar .jspDrag {

  height: 8px;
  /* Safari/Chrome */
  -webkit-border-radius: 5px;
  /* Firefox */
  -moz-border-radius: 5px;
  /* Standard Form */
  border-radius: 5px;
  border: 1px solid black;

  /* Safari/Chrome */
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(255, 255, 255, 1) inset;
  /* Firefox */
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(255, 255, 255, 1) inset;
  /* Standard Form */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(255, 255, 255, 1) inset;

  /* Firefox */
  background: url("images/scroll_grabber_horz.png") center center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0, #111), color-stop(0.50, #222), color-stop(1, #111));
  /* Safari/Chrome */ 
  background: url("images/scroll_grabber_horz.png") center center no-repeat,  -moz-linear-gradient(top, #111, #222 50%, #111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#7777777', endColorstr = '#555555');
}

.jspHorizontalBar .jspTrack{
  padding-top: 2px;
}

.jspVerticalBar .jspTrack{
  padding-left: 2px;
}


.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

/* ======================= End Scrollbar Styles ========================= */

/* ======================= Toolbar Styles ========================= */

.toolbar {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-color: # #d8d8d8;
  background-image: url(images/subtoolbar_bg.png);
  background-repeat: repeat-x;
  background-position: top center;
  border-top: none;
  border-left: none;
  border-left: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #848484
}

.toolbar-group-label-disabled {
  color: #777;
}

.toolbar-group-label {
  color: #000;
}

.toolbar-button {
  background-color: transparent;
  margin: 1px;
}

.toolbar-button-hovering {
  background-color: #E8E8E8;
  border: 1px solid #AAA;
  cursor: pointer;
  margin: 0px;
}

.toolbar-toggle-button {
  margin: 1px;
}

.toolbar-toggle-button-down {
  border: 1px inset grey;
  background-color: #E8E8E8;
  margin: 0px;
}

.toolbar-toggle-button-down-hovering {
  background-color: #E8E8E8;
  margin: 0px;
  cursor: pointer;
}

.toolbar-toggle-button-hovering {
  border: 1px solid #AAA;
  background-color: #E8E8E8;
  cursor: pointer;
  margin: 0px;
}

.toolbar-combo-button {
  margin: 1px;
  padding-right: 14px;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url("images/comboArrow.png");
  background-color: transparent;
}

.toolbar-combo-button-hovering {
  background-color: #E8E8E8;
  border: 1px solid #AAA;
  cursor: pointer;
  margin: 0px;
}

.toolbar-button-disabled {
  background-color: transparent;
  margin: 1px;
}

.toolbar-button-disabled-hovering {
}

.toolbar-combo-button-disabled {
  margin: 1px;
  padding-right: 14px;
  background-color: transparent;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url("images/comboArrow.png");
}

.toolbar-combo-button-hovering {
  border: 1px solid #AAA;
  margin: 0px;
}

.pentaho-titled-toolbar {
  background: #1A1A1A; /* Old browsers */
  background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(50%,#333333), color-stop(51%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FFAAAAAA', endColorstr = '#FF000000');
  background: linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* W3C */
  zoom: 1;

}

.pentaho-titled-toolbar .pentaho-titled-toolbar-label {
  color: white;
}


/* ======================= End Toolbar Styles ========================= */

.pentaho-transparent {
  background-color: transparent;
}

.pentaho-gradient {
  background-color: #000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));
  background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%) repeat scroll 0 0 transparent;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FFAAAAAA', endColorstr = '#FF121212');
  zoom: 1;
}

.pentaho-rounded-panel {
  border: 1px solid rgba(255, 255, 255, 0.59375);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 2px 2px 6px 1px #000000;
  -webkit-box-shadow: 2px 2px 6px 1px #000000;
  box-shadow: 2px 2px 6px 1px #000000;
  background: rgba(255, 255, 255, 0.2);
  padding: 4px 4px 4px 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#77ffffff', endColorstr = '#77ffffff');
  zoom: 1;
}

.pentaho-shine {
  background-color: none;

  background: -webkit-gradient(linear, left top, left bottom, from(rgba(170, 170, 170, 0.34)), color-stop(0.1, rgba(135, 135, 135, 0.34)), color-stop(0.5, rgba(50, 50, 50, 0.04)), color-stop(0.52, rgba(0, 0, 0, 0.25)), color-stop(0.8, rgba(0, 0, 0, 0.25)), to(rgba(10, 10, 10, 0.04)));
  
  background: -moz-linear-gradient(rgba(170, 170, 170, 0.34), rgba(135, 135, 135, 0.34) 10%, rgba(50, 50, 50, 0.04) 50%, rgba(0, 0, 0, 0.25) 52%, rgba(0, 0, 0, 0.25) 80%, rgba(10, 10, 10, 0.04) 100%) repeat scroll 0 0 transparent;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FFAAAAAA', endColorstr = '#FF121212');
  zoom: 1;
}

.pentaho-background {
  background: rgba(255, 255, 255, 0.2);
}

.pentaho-padding-sm {
    padding: 4px;
}

.pentaho-padding-lg {
    padding: 8px;
}

.pentaho-tooltip-background {
  background-color: #444;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));
  background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%) repeat scroll 0 0 transparent;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FFAAAAAA', endColorstr = '#FF121212');
  zoom: 1;
}

.pentaho-tooltip-contents {
  background-color: #dddddd;
  padding: 4px;
  border: 1px solid #808080;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.pentaho-shadow {
  -moz-box-shadow: 2px 2px 6px 1px #000000;
  -webkit-box-shadow: 2px 2px 6px 1px #000000;
  box-shadow: 2px 2px 6px 1px #000000;
}


.pentaho-shadow-no-offset {
  -moz-box-shadow: 1px 1px 5px 0px #000000;
  -webkit-box-shadow: 1px 1px 5px 0px #000000;
  box-shadow: 1px 1px 5px 0px #000000;
}

.pentaho-rounded-panel2 {
  border: 1px solid rgba(0, 0, 0, 1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.6) inset;
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.6) inset;
  box-shadow:0 0 1px 1px rgba(255,255,255,.6) inset;
}


.pentaho-rounded-panel2-shadowed {
  border: 1px solid rgba(0, 0, 0, 1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  -moz-box-shadow: 1px 1px 5px 0px #000000, 0 0 1px 1px rgba(255,255,255,.6) inset;
  -webkit-box-shadow: 1px 1px 5px 0px #000000, 0 0 1px 1px rgba(255,255,255,.6) inset;
  box-shadow: 1px 1px 5px 0px #000000, 0 0 1px 1px rgba(255,255,255,.6) inset;
}

.contrast-color {
    white;
}