/** Add css rules here for your application.
Please, please comment all entries so that it is clear
which java class/code the style is associated with */

/* region Pentaho Widget buttons */
.pentaho-clear-button, .pentaho-error-button, .pentaho-search-button {
  /* Design system extra-small and small size
     icon actual size is 12px and 16px respectively,
     but both sizes need a container with 32px
  */
  --icon-height: 32;
  --icon-width: 32;

  height: calc(1px * var(--icon-height));
  width: calc(1px * var(--icon-width));

  background-position: center;
  background-repeat: no-repeat;
}

.pentaho-clear-button {
  background-image: url("./images/close.XS.svg");
}

.pentaho-error-button {
  background-image: url("./images/fail.red.S.svg");
}

.pentaho-search-button {
  background-image: url("./images/search.S.svg");
}
/* endregion Pentaho Widget buttons */

/* killing some intermediate styles for tabs that aren't desired */
.gwt-TabBarFirst-wrapper{
  display: none;
}

.overflowHide {
  overflow: hidden;
}

.popupContent {
  color: #000000;
}

.drop-popup .listbox-scroll-panel {
  border: 1px solid gray;
}

.blue-current-month-selected {
  background-color: #848484;
}

.blue-week-line {
  background-color: #D2D2D2;
}

.blue-month-line {
  background-color: #D2D2D2;
  color: #000000;
}

.blue-day-grid {
	border: 1pt solid #848484;
}

.blue-date-picker {
	z-index: 1000;
}

/* style for error message associated with dialog controls with invalid data */
.errorLabel {
  background-color: #FFDDDD;
  color: #FF0000;
}

.progressPopupPanel {
  background-color: #EEEEEE;
  border: 1px dotted black;
}
.addBtn {
  width: 22px;
}
.deleteBtn {
  width: 22px;
}
/* end snb */

.tooltip{
  padding: 5px;
  border: 1px solid #666;
  background-color: #FAFAFA;
  max-width: 150px;
  z-index: 2000;
}

.tooltip-label{
  color: #000000;
  font-size: 13px;
}

/* region menubar/menuitem styles */
.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-checked-selected:hover {
  background-color: #cbefa3;
}
 
.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-unchecked-selected:hover {
  background-color: #cbefa3;
}
 
gwt-MenuBar-horizontal .gwt-MenuItem-selected:hover {
background-color: #cbefa3;
}
 
.gwt-MenuBar-vertical .gwt-MenuItem-selected:hover {
  background-color:  #cbefa3;
}

.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-checked {
  cursor: hand;
  cursor: pointer;
  background-image:url(images/checkbox.png);
  background-position:6px 50%;
  background-repeat:no-repeat;
  padding:3px 20px 3px 20px;
}

.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-checked-selected {
  background-color: #dbdbdb;
  vertical-align: bottom;
}

.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-unchecked {
  cursor: hand;
  cursor: pointer;
  background-image:url(images/checkbox-empty.png);
  background-position:6px 50%;
  background-repeat:no-repeat;
  padding:3px 20px 3px 20px;
}

.gwt-MenuBar-vertical .gwt-MenuItem-checkbox-unchecked-selected {
  background-color: #dbdbdb;
  vertical-align: bottom;
}

.disabledMenuItem {
  color: #CCCCCC;
  cursor: Default;
  padding:3px 20px 3px 20px;
  vertical-align: bottom;
}

.gwt-MenuItem {
  color: black;
  padding:3px 20px 3px 20px;
}


.gwt-MenuBar {
  cursor: default;
}
.gwt-MenuBar .gwt-MenuItem {
  cursor: pointer;
}
.gwt-MenuBar .gwt-MenuItem-selected {
  color: black;
}
.gwt-MenuBar-horizontal .gwt-MenuItem {
  color: white;
  padding: 3px 6px 5px;
  vertical-align: bottom;
  border: 1px;
}
.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
  border: 1px solid #000000;
  background-color: #dbdbdb;
  color: black;
  padding: 2px 5px 4px;
  vertical-align: bottom;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
  border-left: 1px solid #000000;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
  width: 1px;
  background: white;
}





.gwt-MenuBar-vertical {
  background-color: #ffffff;
  margin-top: 0px;
  margin-left: 0px;
  border-top: 1px solid #000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000;
  padding: 2px;
 }
.gwt-MenuBar-vertical table {
  border-collapse: collapse;
}
.gwt-MenuBar-vertical .gwt-MenuItem {
  color: black;
  padding:3px 20px 3px 20px;
}

.gwt-MenuBar-vertical .gwt-MenuItem-selected {
  background-color: #dbdbdb;
  color: black;
  vertical-align: bottom;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
  padding: 0px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 5px;

}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
  border-top: 1px solid #000;
}


.gwt-MenuBar-vertical .subMenuIcon {
  padding-right: 4px;
}
.gwt-MenuBar-vertical .subMenuIcon-selected {
  background-color: #dbdbdb;
}


.gwt-MenuBarPopup {
  margin: 0px 0px 0px 0px;
  z-index: 110;
}
* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
  width: 5px;
  height: 41px;
  margin-top: -36px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupTopRightInner {
  width: 13px;
  height: 41px;
  margin-left: -5px;
  margin-top: -36px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
  width: 5px;
  height: 49px;
  margin-top: -41px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
  width: 13px;
  height: 49px;
  margin-left: -5px;
  margin-top: -41px;
  overflow: hidden;
}
/* endregion menubar/menuitem styles */

/* begin dialog styles ------------------------------------------------------*/

.modalDialogPageBackground {
  opacity: 0.20;
  background-color:  #000000;
  z-index:250;
  filter:alpha(opacity=20);

  cursor: wait;
}

.dialogButtonPanel button{
  margin-left: 3px
}

/* region Wizard Styles */
.pentaho-wizard-deck-panel {
	height: 80%;
	width: 100%;
}

.pentaho-wizard-button-panel {
	height: 100%;
	vertical-align: bottom;
}
.pentaho-wizard-panel {
	height: 100%;
	width: 100%;
}

.pentaho-wizard-cancel-button {
	horizontal-align: right;
	vertical-align: bottom;
}

.pentaho-wizard-finish-button {
	horizontal-align: right;
	vertical-align: bottom;
}

.pentaho-wizard-next-button {
	horizontal-align: right;
	vertical-align: bottom;
}

.pentaho-wizard-back-button {
	horizontal-align: right;
	vertical-align: bottom;
}
/* endregion Wizard Styles */

.nowrap{
  white-space: nowrap;
}

/* region file chooser styles */
.fileChooserHeader {
  background-color: #f0f0f0;
  border-bottom: 1px solid #848484;
  border-right: 1px solid #848484;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}
.fileChooserCell {
  background-color: white;
  padding: 1px 5px;
  font-size: 14px;
}


.fileChooserCell-over {
  background-color: #cbefa3;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}
/* endregion file chooser styles */


/* region resizable dialogbox styles */
.dragdrop-draggable {
  zoom: 1; /* IE gain hasLayout */
}

.dragdrop-dragging {
  zoom: normal; /* remove artifacts */
}

.dragdrop-positioner {
  border: 0px dashed #ffffff; /* 0px override from gwt-dnt.css */
  margin: 0px !important;
  zoom: 1; /* IE gain hasLayout */
  z-index: 100;
}

.dragdrop-flow-panel-positioner {
  color: #1E90FF; /* blue */
  display: inline;
  text-align: center;
  vertical-align: middle;
}

.dragdrop-proxy {
}
.dragdrop-selected,.dragdrop-dragging,.dragdrop-proxy {
  	background-color: #dbdbdb;
  	filter: alpha(opacity=100);
  	opacity: 1;
}
.dragdrop-movable-panel {
  z-index: 200;
  margin: 0px !important;
  border: none !important;
}


/* ------------ WindowExample ------------ */
.resizable-DialogContentWidget {
  padding: 5px;
}

.resizable-DialogHeaderAndContent {
  background-color: #ececec;
  border: 1px solid #848484;
}

.resizable-WindowPanel {
  cursor: default;
  z-index: 1000;
}

.resizable-WindowPanel .resizable-WindowPanel-header {
  padding: 5px;
  background-image: url(images/subtoolbar_bg.png);
  color: black;
  overflow: hidden;
  cursor: move;
}

.dialog-resize-nw {
  cursor: nw-resize;
}

.dialog-resize-n {
  cursor: n-resize;
}

.dialog-resize-ne {
  cursor: ne-resize;
}

.dialog-resize-w {
  cursor: w-resize;
}

.dialog-resize-e {
  cursor: e-resize;
}

.dialog-resize-sw {
  cursor: sw-resize;
}

.dialog-resize-s {
  cursor: s-resize;
}

.dialog-resize-se {
  cursor: se-resize;
}

.custom-list-item {
  white-space: nowrap;
}
.custom-list-item .gwt-Label {
  white-space: nowrap;
}

.custom-list-item input[type='text'] {
  line-height: normal;
}

.combo-arrow{
  padding: 4px;
  background: #888;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #AAA),
      color-stop(0.10, #888),
      color-stop(0.50, #3f3f3f),
      color-stop(0.55, #000),
      color-stop(0.90, #121212)
  );
  background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%);
  border: 1px outset gray;
  cursor: pointer;
  font-size:0px;

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#888888', endColorstr = '#121212');
  zoom:1;
}

.combo-arrow div{
  background-image: url('images/combo_drop_arrow.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 8px;
  width: 10px;
  font-size:0px;
}

.combo-arrow-disabled{
  padding: 4px;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #AAA),
      color-stop(0.10, #888),
      color-stop(0.50, #8d8d8d),
      color-stop(0.55, #727272),
      color-stop(0.90, #747474)
  );
  background: -moz-linear-gradient(#AAA, #BBB 10%, #8d8d8d 50%, #727272 55%, #747474 90%);

  border: 1px outset gray;
  font-size:0px;
}


.combo-arrow-disabled div{
  background-image: url('images/combo_drop_arrow.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 8px;
  width: 10px;
  font-size:0px;
}

.custom-list {
  border: 1px solid var(--color-secondary);
  background-color: var(--color-atmo1);
}

.custom-list-disabled {
  border: 1px solid var(--color-secondary-60);
  background-color: var(--color-atmo3);
}

:is(.custom-list, .custom-list-disabled) {
  padding: 0;
  margin: 0;
}

:is(.custom-list, .custom-list-disabled) .placeholder-label {
  color: var(--color-secondary-80);
  padding: 0 10px;
}

.custom-list-textbox {
  border: none !important;
  overflow: hidden;
}

.drop-popup {
  background: var(--color-atmo1);
  z-index: 1350;
  width: auto;
}

.custom-list-item {
  background-color: var(--color-atmo1);
  font-size: 13px;
}

.custom-list-disabled-item {
  background-color: var(--color-atmo3);
}

.custom-list-item-hover {
  background-color: #cbefa3;
}

.custom-list-item-selected {
  background-color: #dbdbdb;
}

.custom-list-item-proxy {
  opacity: 0.85;
  filter: alpha(opacity=85);
  font-size: 13px;
  border: 1px dashed var(--color-secondary-60) !important;
  background: transparent;
  z-index:1500 !important;
}
/* endregion resizable dialogbox styles */

.customListBoxTdFix{
  padding: 0px;
  border: 0px;
}


.customButton {
  font-size: 13px;
  border: 1px outset #ccc;
  background-color: #ddd;
}
.customButton-down {
  border: 1px inset #ccc;
  cursor:pointer;
}
.customButton-hover {
  border-color: #9cf #69e #69e #7af;
  background-color: #eee;
  cursor:hand;
}
.customButton-disabled {
  color: #888;
  background-color: #ccc;
  cursor:none;
}
.customButton-disabled-hover {
  border: 1px outset #ccc;
}

.color-picker-popup{
  background-color: white;
  border: 1px solid black;
  z-index: 2000;
}

.color-swatch{
	border: 1px solid transparent;
	padding: 3px;
	background-color: white;
	cursor: pointer;
	}

	.color-swatch:hover{
  border: 1px solid #bbb;
  padding: 3px;
  background-color: #eee;
  cursor: pointer;
  }

  .color-swatch-center{
  height: 10px;
  width: 10px;
  }


/* region GWT Date Picker */
.gwt-DateBox input {
  width: 8em;
}
.dateBoxFormatError {
  background: #ffcccc;
}
.dateBoxPopup {
  z-index: 1200;
}

.gwt-DatePicker {
  border: 1px solid #777777;
  cursor: default;
}
.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none
}
.datePickerDays {
  width: 100%;
  background: white;
}
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 75%;
  text-align: center;
  padding: 4px;
  outline: none;
}
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #CCCCCC;
  padding: 0px 4px 2px;
  cursor: default;
}
.datePickerDay {
  padding: 4px;
  cursor: hand;
  cursor: pointer;
}
.datePickerDayIsToday {
  border: 1px solid black;
  padding: 3px;
}
.datePickerDayIsWeekend {
  background: #EEEEEE;
}
.datePickerDayIsFiller {
  color: #888888;
}
.datePickerDayIsValue {
  background: #777777;
  color: #FFFFFF;
}
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}
.datePickerDayIsHighlighted {
  background: #F0E68C;
}
.datePickerDayIsValueAndHighlighted {
  background: #bbddd9;
}
.datePickerMonthSelector {
  background: #CCCCCC;
  width: 100%;
}
td.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-size: 70%;
  font-weight: bold;
}
.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  cursor: hand;
  cursor: pointer;
  padding: 0px 4px;
}

.gwt-ScrollTable .dataWrapper {
  overflow: auto;
}

input[type=text]:focus,
input[type=password]:focus {
  outline: 0 none;
}
/* endregion GWT Date Picker */

/* region GWT Scroll Table */
.headerTable > tbody > tr > td {
  padding: 2px 2px 2px 4px;
}

.gwt-ScrollTable {
  border: 1px solid #848484;
  overflow: auto;
  height: 100% !important;
}

.gwt-ScrollTable > .flex-column {
  row-gap: 0;
  height: 100%;
}

.gwt-ScrollTable .headerWrapper {
  background: #d2d2d2 scroll left bottom;
  padding-right: 0;
  height: auto !important;
  flex: none;
}

.gwt-ScrollTable .footerWrapper {
  background: #858585;
  border-top: 1px solid #848484;
}

.gwt-ScrollTable .dataWrapper {
  width: 100% !important;
  height: 100% !important;
  position: relative;
  overflow-x: auto !important;
  overflow-y: auto !important;
  flex: auto;
}

.gwt-ScrollTable:not(.fixed-column-widths) .dataWrapper {
  overflow-x: hidden !important;
}

#previewTreeContainer .gwt-ScrollTable .dataWrapper {
  width: 100% !important;
  position:relative;
  overflow:scroll !important;
  height:100%;
}

.gwt-ScrollTable .dataTable td {
/*  font-size: 13px; */
  overflow: hidden;
  white-space: nowrap;
}

.gwt-ScrollTable :is(.headerWrapper .headerTable td, .dataWrapper .dataTable td .gwt-HTML) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.gwt-ScrollTable .dataWrapper .dataTable td > input {
  box-sizing: border-box;
}

.gwt-ScrollTable .headerTable {
  font-weight: normal;
  font-size: 13px;
  color: #FFFFFF;
  border-right: 1px solid #848484;
  background: #000000;
    background: #1A1A1A; /* Old browsers */
  background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(50%,#333333), color-stop(51%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* IE10+ */
  background: linear-gradient(top, #1a1a1a 0%,#333333 50%,#000000 51%,#000000 100%); /* W3C */
  overflow: hidden;
}

.IE .gwt-ScrollTable .headerTable td {
  background: url('images/header_20px.png');
}

.gwt-ScrollTable .headerTable-disabled td {
  font-weight: normal;
  color: #000000;
  border-right: 0px;
}

.gwt-ScrollTable .dataTable tr {
  background: white;
}

.gwt-ScrollTable .dataTable .cellTableOddRow {
  background-color: #f0f0f0;
}

.gwt-ScrollTable .dataTable-disabled tr {
  background: white;
}

.gwt-ScrollTable .dataTable td {
  border-bottom: 1px solid #BEBEBE;
  border-right: 1px solid #BEBEBE;
  padding: 2px 2px 2px 4px;
}

.gwt-ScrollTable .dataTable-disabled td {
  border-bottom: 0px;
}

.gwt-ScrollTable .dataTable tr.hovering {
  cursor: pointer;
  background: #cbefa3 none repeat scroll 0% 0%;
  cursor: hand;
}

.gwt-ScrollTable .dataTable-disabled tr.hovering {
  cursor: default;
  background: #cbefa3 none repeat scroll 0% 0%;
}

.gwt-ScrollTable .dataTable td.hovering {
  cursor: pointer;
  cursor: hand;
  background: #cbefa3 none repeat scroll 0% 0%;
}

.gwt-ScrollTable .dataTable-disabled td.hovering {
  cursor: default;
}

.gwt-ScrollTable .dataTable tr.selected {
  background: #dbdbdb none repeat scroll 0% 0%;
}

.gwt-ScrollTable .dataTable tr:hover {
  background: #cbefa3 none repeat scroll 0% 0%;
}

.gwt-ScrollTable .pagingOptions {
  background: #e8e8e8 none repeat scroll 0% 0%;
  border-right: 1px solid #848484;
  border-top: 1px solid #848484;
  padding: 1px 0px;
}

.gwt-ScrollTable .pagingOptions .errorLabel {
  color: red;
}

.gwt-CellEditor {
  background: white none repeat scroll 0% 0%;
  border: 3px solid #BEBEBE;
  padding: 4px;
}

.gwt-CellEditor td {
  padding: 4px;
}

.listbox-scroll-panel {
  position:relative;
  overflow:auto;
  height:100%;
  width:100%;
}

.gwt-ScrollTable :is(.headerWrapper .headerTable, .dataWrapper .dataTable) td:last-child {
  padding-right: 20px;
}

.xul-tree.flex-column,
.xul-tree .flex-column {
  display: flex;
  flex-direction: column;
}

.xul-tree > table > tbody,
.xul-tree > table > tbody > tr,
.xul-tree > table > tbody > tr > td {
  display: contents;
}
/*  endregion GWT Scroll Table */

.table-scroll-panel {
  position:relative;
  overflow:auto;
  height:100%;
  width:100%;
}

.hide-h-scrolling{
    overflow-x: hidden;
}

.validation-textbox-left-image-buffer {
	width: 5px;
}
.validation-textbox-tail-image {
  background-image: url(images/error_red_arrow.png);
  background-position: top center;
  border-radius:4px 4px 4px 4px;	
  line-height:0px;
  width:13px;
  height:7px;
  background-repeat: no-repeat;
}


.validation-textbox-message-label {
	color: white;
	background: linear-gradient(top, #FF3838 0%,#FF3838 50%,#BF0600 51%,red 100%);
	padding: 4px;
	font-family: arial, helvetica, sans-serif;
	border: 1px solid red;
	border-radius: 4px;
	text-shadow: 0px -1px 0px #830202;
	font-size: 13px;
	background: -moz-linear-gradient(top, #FF6464 0%, #FF7070 50%, #BF0600 51%, red 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF6464), color-stop(50%,#FF7070), color-stop(51%,#BF0600), color-stop(100%,red));
	background: -webkit-linear-gradient(top, #FF3838 0%,#FF3838 50%,#BF0600 51%,red 100%);
	background: -o-linear-gradient(top, #FF3838 0%,#FF3838 50%,#BF0600 51%,red 100%);
	background: -ms-linear-gradient(top, #FF3838 0%,#FF3838 50%,#BF0600 51%,red 100%);
	background: linear-gradient(top, #FF3838 0%,#FF3838 50%,#BF0600 51%,red 100%);
} 



.validation-textbox-image {
   background-position: center center;
   width: 18px;
}

/* region schedule dialogs */
.schedule-name-preview {
  text-align: center;
  margin-bottom: 9px;
  font-style: italic;
}

.schedule-timestamp-listbox {
  margin-left: 10px;
  margin-bottom: 15px;
  width: 250px;
}

.schedule-caption-panel {
  margin-top: 5px;
}

.schedule-caption-panel legend {
  font-size: 14px;
  color: #999999;
}

.schedule-label {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #666666;
}
.schedule-label:where(.schedule-name) {
  margin-top: 0;
}
.schedule-label:where(.schedule-name-info) {
  margin-left: 5px;
  margin-top: 1px;
}

.schedule-input, .schedule-button, .schedule-custom-list {
  box-sizing: border-box;
  height: 35px;
}

.schedule-input, .schedule-custom-list {
  width: 360px;
}

.gwt-Label.schedule-error {
  padding: 6px 0;

  color: var(--color-negative);
}

.schedule-custom-list {
  padding: 5px 0;
}
:where(.schedule-custom-list) .custom-list-drop-grid {
  width: auto !important;
}

button.pentaho-button:is(
  .schedule-button,
  .schedule-button:hover
) {
  margin-left: 10px;
}

:where(.new-schedule-dialog) .gwt-CheckBox {
  display: block;
  margin-top: 5px;
}

:where(.new-schedule-dialog) .schedule-error {
  padding: 6px 0;
}
/* endregion schedule dialogs */

.validation-textbox-image-panel-valid {
   background-image:url(images/valid.png);
   background-position: center center;
   background-repeat: no-repeat;
}

.validation-textbox-image-panel-invalid {
   background-image:url(images/invalid.png);
   background-position: center center;
   background-repeat: no-repeat;
}

.action-bar {
    background: #1A1A1A; /* Old browsers */
    background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(50%, #333333), color-stop(51%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* IE10+ */
    background: linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* W3C */
    zoom: 1;
    color: #FFFFFF;
    height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    bottom: 0;
    margin: 0;
}

.action-button-bar {
    background: #1A1A1A; /* Old browsers */
    background: -moz-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(50%, #333333), color-stop(51%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* IE10+ */
    background: linear-gradient(top, #1a1a1a 0%, #333333 50%, #000000 51%, #000000 100%); /* W3C */
    padding: 10px;
    text-align: right;
}

.progress-indicator-widget {
	
}

.progress-image {
	padding-right: 36px;
	padding-top: 5px;
	height: auto;
	width: auto;
}

.fileChooser-scrollPanel {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(112, 112, 112);
  height: 220px;
}

  /* -- new spinner stuff -- */
.busy-indicator-container {
  display: block;
}
.busy-indicator-container-wrapper {
  display: table;
}
.spinner div > div {
  /* spin.js uses inline styles, so we have to override those with !important to acheive theme-ability*/
  background-color: #0560AB !important;
}

.large-spinner {
  height: 48px;
  width: 48px;
}
.medium-spinner {
  height: 32px;
  width: 32px;
}
.small-spinner {
  height: 16px;
  width: 16px;
}

.pentaho-busy-indicator-spinner {
  display: table-cell;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  padding: 20px;
}
.pentaho-busy-indicator-msg-contianer {
  display: table-cell;
  vertical-align: middle;
}

.waitPopup {
  position: absolute;
  width: 330px;
  top: 44%;
  right: 0px;
  left: 0px;
  margin: auto;
  z-index: 20001;
  height: auto;
  border: 1px solid #ABC9D9;
  background: #EFF5F8;
}
.waitPopup_title {
  color: #0560AB;
  font-size: 18px;
  padding-bottom: 3px;
  width: 262px;
}

.waitPopup_msg {
  color: #6F777B;
  font-weight: normal;
  font-size: 14px;
  white-space: normal;
  width: 262px;
}

/* region Search Text Box */
.gwt-search-text-box {
  --icon-right-pos: 0;
  --input-icon-padding: calc(1px * var(--icon-width) + var(--icon-right-pos));

  position: relative;
  border-bottom: 1px solid var(--color-atmo4);

  width: 100%;
  font-size: var(--typ-body-font-size);
  background-color: var(--color-atmo1);
}

.gwt-search-text-box .gwt-TextBox {
  width: 100%;

  text-overflow: ellipsis;
  padding-right: var(--input-icon-padding);
  background-color: var(--color-atmo1);
}

:where(.gwt-search-text-box) .gwt-TextBox::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.gwt-search-text-box .gwt-Image {
  position: absolute;
  right: var(--icon-right-pos);
  top: 50%;
  transform: translateY(-50%);
}
/* endregion Search Text Box */
