/* Sencha looking context menus */
.tundra .dijitMenuItem td {
	padding: 6px 2px;
}

.pentaho-menu .pentaho-menuitem .dijitMenuItemLabel{
	font-size: 15px;
}

.dijitPopup {
	padding: 6px;
	border-radius: 6px;
	background-color: black;
}
/* End Sencha looking context menus */

/* Layout Panel */
.gem {
	padding: 6px 5px;
}
.gem .gem-label {
	font-size: 1em;
}

.pentahoPropertiesPanel .caption-text {
	font-size: 1em;
}

/* Panel chrome */
.tundra .dijitSplitContainer-dijitContentPane, .tundra .dijitBorderContainer-dijitContentPane {
	padding: 0;
}
.pentaho-padding-lg {
	padding: 0;
}

/* Misc */
.tundra .dijitButtonText{
	font-weight: bold;
}
/* prompt buttons */
.pentaho-button, .pentaho-toggle-button  {
	border: 1px solid #2B2A2A;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46, 39, 35, 0.8)), color-stop(51%,rgba(70, 64, 56, 0.8)), color-stop(53%,rgba(36, 31, 27, 0.8)), color-stop(100%,rgba(22, 19, 15, 0.8))), url('./images/bg-buttons.png') repeat-y top center;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
	font-size: 14px;
	color: #EDE3D0;
	font-weight: bold;
}
.pentaho-toggle-button-down, .pentaho-toggle-button-down-disabled, .pentaho-toggle-button-down-hovering {
	border: 1px solid #828c2b;
   background-image:none;
	background-color:#aebb38;
	 background:-webkit-linear-gradient(top, #828c2b ,#aebb38 50%);
	background: linear-gradient(top, #828c2b ,#aebb38 50%);
	box-shadow:0 0 1px 1px rgba(255, 255, 255, .4) inset;
 -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
.pentaho-button:active {
   background-image:none;
	background-color:#aebb38;
	background: -webkit-linear-gradient(top, #828c2b ,#aebb38 50%);
	background:linear-gradient(top, #828c2b ,#aebb38 50%);
	box-shadow:0 0 -1px 1px rgba(0, 0, 0, .4);
  -webkit-box-shadow:0 0 -1px 1px rgba(0, 0, 0, .4);
}
.pentaho-toggle-button button{
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
font-size: 14px;
font-weight: bold;
padding: 5px 8px;
}
.pentaho-toggle-button-down button {
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) !important;
color: #000 !important;
}
/* end prompt buttons */

.pentaho-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46, 39, 35, 0.8)), color-stop(51%,rgba(70, 64, 56, 0.8)), color-stop(53%,rgba(36, 31, 27, 0.8)), color-stop(100%,rgba(22, 19, 15, 0.8))), url('./images/bg-buttons.png') repeat-y top center;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7);
}

.tundra .section-header-inner {
	height: 1.9em;
	padding-top: 12px;
}
/* make drop down prompts larger on iPad */
select {
 font-size: 14px;
 padding: 2px;
 margin: 8px 0 0 0;
}

/* analyzer selection toolbar bg for ipad  */
.reportArea #selectionFilterPanel {
	opacity: 1 !important;
	height: auto !important;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .6), 0 0 1px 1px rgba(255, 255, 255, .2) inset !important;
}
/* analyzer prompt panel style for iPad */
.reportFilter {
	background: url('./images/bg-lists.jpg') top left !important;
	background-repeat:repeat;
}

/* analyzer dialog style for iPad */
.pentaho-dialog {
    z-index: 1000;
    position: absolute;
  border: 1px solid #000;
  border-radius: 0px;
   /* background-color: rgba(0, 0, 0, 0.7);*/
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, .2);
  -webkit-box-shadow:1px 1px 5px 0px rgba(0, 0, 0, .2);
    padding: 0px;
	background: url('./images/bg-lists.jpg') top left !important;
}
.pentaho-dialog .Caption {
	background: -webkit-linear-gradient(top,  rgba(255,255,255,.20) 0%,rgba(255,255,255,0.12) 50%,rgba(255,255,255,0.1) 50%,rgba(255,255,255,0.08) 100%),  url('../images/bg-title-bar.jpg') repeat-x top center, #3b3228;
  /*box-shadow:0 0 1px 1px rgba(255, 255, 255, .2) inset;*/
     font-size: 18px;
	 font-weight: bold;
    color: #EDE3D0;
    cursor: move;
    text-align: center;
    text-shadow: 0px 0px 2px black;
	 padding: 6px;
}
.dialog-content {
    border: 0px solid black;
	border-top: 1px solid #3b352f;
	background: transparent;
}
.pentaho-dialog .button-panel {
    padding: 3px 8px 6px 0px;
    width: 100%;
}

.pentaho-tabPanel {
	background: rgba(71, 51, 19, 0.3);
}
/* increase padding onf save dialog list for iPad */
.fileChooserCell {
	padding: 4px 5px !important;
}